.bg-negative {
  background-position: -149px 0px;
}
.scale-bg {
  transform: scale(1.3);
  transition-property: transform;
  transition-duration: 20s;
  transition-timing-function: linear;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.slick-mode > .slick-slider .slick-prev{
  left: 13px !important;
  z-index: 1000;
}
.slick-mode > .swiper .swiper-button-prev, .slick-mode > .swiper .swiper-button-next{
  color: #fff !important;
}
.slick-mode > .swiper .swiper-button-prev::after, .slick-mode > .swiper .swiper-button-next::after {
  font-size: 18px;
}
.slick-mode2 > .swiper .swiper-button-prev, .slick-mode2 > .swiper .swiper-button-next{
  color: #fff !important;
}
/* .slick-mode2 > .swiper .swiper-button-prev {
  left: -24px !important;
  z-index: 999;
} */
.slick-mode2 > .swiper .swiper-button-prev::after, .slick-mode2 > .swiper .swiper-button-next::after {
  font-size: 18px;
}
.slick-mode2 > .swiper > .swiper-pagination {
  position: relative !important;
  margin-top: 10px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
